doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title DevShift | Web Development and Digital Marketing
    link(rel='stylesheet', href='bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='style.css')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', href='menustyles.css')
    link(rel='alternate', hreflang='en', href='https://devshift.co.uk/')
    link(rel='alternate', hreflang='ru', href='https://devshift.co.uk/ru')
    meta(name='description' content='Digital Marketing and Web Development services — make your site REALLY WORK for your business!')
    meta(name='theme-color' content='#185de7')
    link(rel="icon" sizes="192x192" href="favicon.png")
  body
    header
      div(style='padding: 0 15px 0 15px; position: absolute; min-width: 100%;')
        a(href='/')
          .logo DevShift
        button.button.menu
      #home.container
        .heading
          h1 Making Your Business Sell More
          button#learnhow.button.cta.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3 LEARN HOW
    article
      #howisit.container
        .col-xs-12.col-lg-8.col-lg-offset-2
          h2 How Is It?
          p
            | Many people who really need unique products and services provided by your business still unaware about your existance. We can help them find you and get in contact.
          p
            | Have you ever heard about digital marketing? The digital marketing is the marketing activities that are to be done in the Internet, on mobiles, and on everything that is digital and connected to the network.
          p
            | The online marketing is a very big industry with results proved by many businesses.
          img(src='google-revenue-2017.jpg', alt='Google parent company Alphabet is expected to earn 73.8 billion dollars in 2017 from digital advertising')
          p
            | Look around and see how many people are using their mobile devices right now. Researches of the Office of Communications of the United Kingdom show that adults in the UK spend about 8 hours and 45 minutes on the Internet each day on average. They chat with friends, watch videos, or look for something to buy online. And all these usual situations are potential abilities for your business to grow.
          img(src='using-of-internet-on-average.jpg', alt='An adult in the UK spends about 8 hours and 45 minutes on the Internet and social media each day on average')
          p
            | Digital marketing is what can lead clients to your business and increase your income — so we are the people that can *provide digital marketing* to your business!
          // </div>
          h2 What We Offer
          // <div class="col-xs-12 col-lg-8 col-lg-offset-1">
          p
            | We offer a wide range of digital marketing services: web development, search engine marketing, search engine optimisation, display advertising, social media marketing, e-mail marketing, e-commerce marketing, retargeting, targeting, and analytics. You can learn more about all these things there: 
            a https://devshift.co.uk/digital-marketing
            | .
          p The quality of our work is proved by our clients and certificates:
          p
            | Do you want to know more about us or digital marketing? Visit our blog and social media pages!
          p Are you ready to take your business to the new level? Contact us!
      section#contacts.contact-us.container
        h2 Contact Us
        .description Write us on...
        .col-xs-offset-2.col-xs-8.col-sm-6.col-sm-6.col-sm-6.col-sm-offset-0.col-lg-4
          a(href='https://www.facebook.com/messages/t/100009826922234', target='_blank')
            .button.facebook Facebook
        .col-xs-offset-2.col-xs-8.col-sm-6.col-sm-6.col-sm-6.col-sm-6.col-sm-offset-0.col-lg-4
          a(href='https://twitter.com/messages/compose?recipient_id=845276299438510080&text=Hello%2C+I%27ve+found+you+through+devshift.co.uk%21', target='_blank')
            .button.twitter Twitter
        .col-xs-offset-2.col-xs-8.col-sm-6.col-sm-offset-0.col-lg-4
          a(href='https://vk.com/im?sel=158135093', target='_blank')
            .button.vk VK
        .col-xs-offset-2.col-xs-8.col-sm-6.col-sm-6.col-sm-offset-0.col-lg-4
          a(href='https://www.upwork.com/freelancers/~01069245f3074b445b', target='_blank')
            .button.upwork Upwork
        .col-xs-offset-2.col-xs-8.col-sm-6.col-sm-offset-0.col-lg-4
          #email.button.email E-mail
        .description.col-xs-12 or fill the form
        form(action='/', method='post')
          input.col-xs-12.col-sm-8.col-sm-offset-2(type='text', name='name', placeholder='Name')
          input.col-xs-12.col-sm-8.col-sm-offset-2(type='email', name='email', placeholder='E-mail')
          button.col-xs-6.col-xs-offset-3.submit(type='submit') Submit!
    // la chose
    aside
      section.menuHeading
        .closeMenu
          div x
        .logo DevShift
      .currentPageLinks
        a(href='#home') Home
        a(href='#howisit') About
        a(href='#contacts') Contacts
      .staticLinks
        a(href='/blog/') Blog
        a(href='https://vk.com/devshift') VK
        a(href='https://twitter.com/GorislavB') Twitter
        a.anotherLang(href='/ru') RUSSIAN (РУССКИЙ)
    .hider
    // end
    footer
      .container
        .links
          a(href='') CONTACT US
          a(href='/blog/') BLOG
          a(href='privacy-policy.htm') PRIVACY POLICY
          a(href='https://twitter.com/GorislavB') TWITTER
          a(href='') ABOUT
          a(href='https://vk.com/devshift') VK
        .footer-logo
          span.text-logo DevShift
          |  2017
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js')
    script.
      var al = document.querySelector('a.anotherLang');
      al.addEventListener('click', function() { document.cookie="preflang=ru-RU;expires=" + new Date('2038').toUTCString() + ';'; });
      const hider = document.querySelector(".hider");
      function hideWindow() {
      hider.classList.add("show");
      }
      function unhideWindow() {
      hider.classList.remove("show");
      }
      function restrictScroll() {
      document.body.classList.add("noScroll");
      }
      function allowScroll() {
      document.body.classList.remove("noScroll");
      }
      const menu = document.querySelector("aside");
      function showMenu() {
      menu.classList.add("open");
      }
      function hideMenu() {
      menu.classList.remove("open");
      }
      function openMenu() {
      hideWindow();
      showMenu();
      }
      function closeMenu() {
      unhideWindow();
      hideMenu();
      }
      var openMenuButton = document.querySelector(".button.menu");
      openMenuButton.addEventListener("click", openMenu);
      hider.addEventListener("click", closeMenu);
      menu.addEventListener("click", function(e) {
      if(e.target != menu) closeMenu(); //if user clicks not at menu option menu will not be closed
      });
      function smoothScrollIntoView(element, time) {
      if(time === undefined) time = 400;
      var lastPos = element.offsetTop;
      var step = (lastPos - window.scrollY) / 25;
      //if(window.scrollY == lastPos) return;
      var i = 0;
      var intID = setInterval(function() {
      i++;
      window.scrollBy(0, step);
      if(i == 25) {
      window.scroll(0, lastPos);
      clearInterval(intID);
      }
      }, time / 25);
      }
      var links = document.body.querySelectorAll("A");
      links.forEach(function(a) {
      if(a.hash) a.addEventListener("click", smoothScrollForHashLinks);
      });
      function smoothScrollForHashLinks(e) {
      smoothScrollIntoView(document.querySelector(this.hash), 1000);
      e.preventDefault();
      }
      //document.body.addEventListener("click", smoothScrollForHashLinks);
      var learnhow = document.getElementById("learnhow");
      learnhow.addEventListener("click", function() {
      smoothScrollIntoView(document.getElementById("howisit"), 1000);
      e.preventDefault();
      });
    script(src='email-window.js')
