html, body {
  margin: 0;
  padding: 0;
  min-height: 100%; }

body {
  font-size: 16px; }

button {
  border: 0; }

.submit {
  box-shadow: 0 4px 6px 0px #555;
  transition: 0.2s; }
  .submit:hover {
    box-shadow: 0 4px 6px 3px #555; }

header {
  height: 100vh;
  background: url(header-skyscrapers.jpg) fixed top center;
  background-size: cover; }
  header .logo {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: #0193f0;
    text-shadow: 0px 2px 5px black;
    float: left; }
  header .container {
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around; }
  header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 65px;
    font-weight: 300;
    color: #FFF;
    text-align: center;
    line-height: 75px;
    margin: 35px 0 0 0; }
  header .menu {
    float: right;
    background: url(menu-button.png);
    background-size: cover;
    height: 33px;
    width: 49px;
    margin-top: 14px;
    z-index: 1; }
  header .cta {
    height: 60px;
    background: #0193f0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: 20px;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.8);
    transition: 0.2s; }
    header .cta:hover {
      box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.8); }

article h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 3.3em;
  margin: 20px auto 0 auto;
  display: block; }
article p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  color: #464646; }
article img {
  max-width: 100vw;
  margin-left: -30px; }
article .description {
  text-align: center;
  font-size: 30px;
  margin-top: 20px; }
article section .button {
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  height: 50px;
  margin-top: 10px;
  cursor: pointer; }
article section .button {
  box-shadow: 0 4px 6px 0px #555;
  transition: 0.2s;
  text-decoration: none; }
  article section .button:hover {
    box-shadow: 0 4px 6px 3px #555; }
article section a {
  text-decoration: none; }
  article section a:hover {
    text-decoration: none; }
  article section a:active {
    text-decoration: none; }
  article section a:visited {
    text-decoration: none; }
article section .facebook {
  background: #3b5998; }
article section .twitter {
  background: #00aced; }
article section .vk {
  background: #507299; }
article section .upwork {
  background: #6fda44; }
article section .email {
  background: #d34836; }
article section .phone {
  background: #e46900; }
article section input {
  border: 2px solid #c6c6c6;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: #000;
  margin: 15px auto 0 auto; }
article section button {
  margin-top: 15px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  border: solid 2px #0193f0;
  background-color: #FFF; }

footer {
  background: #484848;
  margin-top: 20px;
  text-align: center; }
  footer .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around; }
    footer .links a {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      display: block;
      width: 50%;
      margin-top: 20px;
      color: #FFF; }
  footer .footer-logo {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #FFF;
    text-shadow: 0px 2px 5px black;
    margin-top: 15px;
    margin-bottom: 20px; }
    footer .footer-logo .text-logo {
      color: #0193f0; }

aside {
  position: fixed;
  transition: right 1s;
  right: -320px;
  top: 0;
  width: 320px;
  height: 100vh;
  background: white;
  padding: 0;
  z-index: 2;
  box-shadow: 0px 0 6px black; }

aside.open {
  right: 0; }

aside > a {
  display: block;
  transition: all 1s; }

aside > a > h2 {
  margin: 0;
  font-size: 16pt;
  padding: 8px 30px;
  cursor: pointer; }

aside > a:hover {
  background: rgba(0, 0, 0, 0.2); }

div.hider {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1s; }

div.hider.show {
  right: 0; }

.noScroll {
  overflow: hidden; }

.menuHeading {
  padding: 0;
  display: table;
  width: 100%;
  background: #0193f0; }

.menuHeading > * {
  display: table-cell;
  vertical-align: middle; }

.closeMenu {
  vertical-align: middle;
  padding: 0 20px;
  font-family: 'Roboto Slab', serif;
  color: white;
  transition: color 0.8s;
  background: transparent;
  font-weight: 600;
  font-size: 16pt;
  cursor: pointer; }

.closeMenu:hover {
  color: red; }

.button.menu {
  position: fixed;
  right: 20px;
  z-index: 1; }

.logo {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-shadow: 0px 2px 5px gray;
  text-align: right;
  font-size: 28pt;
  padding: 10px; }

.someLinks {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  padding: 5px 10px; }

.someLinks > a {
  display: inline-block;
  transition: background 0.5s;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 20pt; }

.someLinks > a:hover {
  background: gray; }

.email-window {
  position: fixed;
  width: 600px;
  max-width: 95%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  border: solid 1px white;
  height: 500px;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -300px;
  text-align: center;
  padding-top: 90px; }
  .email-window .email {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 27px; }
  .email-window a {
    text-decoration: none; }
  .email-window .closeButton {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: solid 1px white;
    color: white;
    font-size: 34px;
    position: absolute;
    right: -10px;
    top: -10px;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer; }
  .email-window .button {
    border-radius: 5px;
    width: 250px;
    max-width: 100%;
    height: 60px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: white;
    margin-top: 50px; }
  .email-window .copy-email {
    border: solid 2px #1ec81e;
    line-height: 55px; }
    .email-window .copy-email:active {
      background: #1ec81e; }
  .email-window .write-email {
    background: #1ec81e;
    line-height: 55px; }
    .email-window .write-email:active {
      background: #0a960a; }

@media screen and (max-width: 680px) {
  footer .links a {
    width: 100%; } }
@media screen and (max-width: 600px) {
  .email-window {
    left: 0;
    margin-left: 0; } }
@media screen and (min-width: 700px) {
  body {
    font-size: 16px; }

  article img {
    margin: auto;
    display: block;
    max-width: 100%; } }
@media screen and (min-width: 992px) {
  body {
    font-size: 18px; }

  header h1 {
    font-size: 120px;
    line-height: 1; }
  header .cta {
    letter-spacing: 4px; } }

/*# sourceMappingURL=style.css.map */
